<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/EX-10/src/bonuscalc/ModeleCalculatriceEntiers.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="bonuscalc.ModeleCalculatriceEntiers"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="EX-10"/>
</launchConfiguration>
